@*@model MyArt.Data.Sale*@

@{
    ViewBag.Title = "NewClient";
}

<h2>NewClient</h2>

<p>
    @Html.ActionLink("New Client", "Create", "Client")
</p>

<p>
    @Html.ActionLink("Existing Client", "Create", "Sale")
</p>
