@{
    ViewBag.Title = "MY ART INVENTORY";
}

    <div class="jumbotron">
        <h1>My Art Inventory</h1>
        <p class="lead">My Art Inventory will help you keep track of all your art creations as well as track your sales, collectors, and art stories.</p>
        @Html.ActionLink("ART INVENTORY", "Index", "Art", null, new { @class = "btn btn-primary btn-large" })
        @Html.ActionLink("Client List", "Index", "Client", null, new { @class = "btn btn-primary btn-large" })
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Coming Soon!</h2>
    </div> 
</div>